body {
  margin: 0 auto; }

img {
  width: 100%; }

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

ul > li {
  list-style: none;
  position: relative;
  flex-basis: 45%; }

li:nth-of-type(1) {
  margin-inline-end: 2rem; }

li:nth-of-type(2) {
  padding-top: 80px; }

li:nth-of-type(3) {
  margin-inline-end: 2rem; }

li:nth-of-type(4) {
  padding-top: 80px; }

li:nth-of-type(5) {
  margin-inline-end: 2rem; }

li:nth-of-type(6) {
  padding-top: 80px; }

li > p {
  writing-mode: vertical-rl;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  left: 100%;
  top: 12%;
  text-transform: uppercase;
  color: #000000; }

@media (min-width: 800px) {
  ul > li {
    flex-basis: 30%; }
  ul > li:nth-of-type(2) {
    padding-top: 150px;
    margin-inline-end: 2rem; }
  ul > li:nth-of-type(5) {
    padding-top: 150px;
    margin-inline-start: 2rem; } }
